@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    height: 100%;
    text-align: center;
}

body {
    background-color: rgb(36, 36, 49);
    color: aliceblue;
}

.logo {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgb(36, 36, 49); 
  padding: 10px 0;
}

.logo p {
  font-size: 25px;
  margin: 0;
}

.hidden {
  display: none !important;
}

.big-btn {
  color: rgb(36, 36, 49);
  text-decoration: none;
  background-color: white;
  font-size: 25px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 50px;
}