@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    height: 100%; /* Make sure the body takes up the full height of the viewport */
}

body {
    background-color: rgb(36, 36, 49);
    color: aliceblue;
}

.logo {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgb(36, 36, 49); /* Same as background color to blend in */
    padding: 10px 0;
}

.logo p {
    font-size: 25px;
    margin: 0;
}

.logo a {
    text-decoration: none;
    color: aliceblue;
}

.text {
  color: #f1f1f1;
  letter-spacing: .05em;
  text-shadow: 
    4px 4px 0px #111111, 
    7px 7px 0px rgba(0, 0, 0, 0.2);
 font-size:2.3em;
 font-family:  sans-serif;
 -webkit-animation: shift 2s ;
 animation: shift 2s ;
 margin-top:125px;
 text-align:center;
}

h2 {
 animation: appear 3.2s;
 text-align:center;
}

@keyframes shift {
 0% {opacity:0;}
 33% {margin-top:0px;opacity:0;}
 100% {margin-top:125px;opacity:1;text-shadow: 
     4px 4px 0px #d5d5d5, 
     7px 7px 0px rgba(0, 0, 0, 0.2);}
}

@keyframes appear {
 0% {opacity:0;}
 50% {opacity:0;}
 100% {opacity:1;}
}

ul {
  animation: appear 3.8s;
  display: flex;
  gap: .8em;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20vw;
  padding: 5px
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-align: center;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

ul li:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

ul li.active {
  background-color: #001F54;
  border: 2px solid white;
}

.hidden {
    display: none;
}
